@using SisCaVet.Models
@model Veterinario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout= "~/Views/Shared/Layout.cshtml";
}

<!-- Barra de navegação (Home > Veterinario > Editar) -->
<nav class="green lighten-3">
    <div class="nav-wrapper container">

        <!-- Logo Titulo -->
        <a href="/Home/Index" class="brand-logo right">SisCaVet</a>
        
        <div class="row">
            <div class="col s0 m0 l2"></div>
            <div class="col s12 m12 l10">
                    
                <!-- Botão de Menu que não aparece em tela grande -->
                <a href="#" data-activates="nav-mobile" class="button-collapse full hide-on-large-only">
                    <i class="material-icons">menu</i>
                </a>
                <div>
                    <a href="/Home/Index" class="breadcrumb">Home</a>
                    <a href="/Veterinario/Index" class="breadcrumb">Veterinario</a>
                    <a href="#!" class="breadcrumb">Editar</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Página -->
<div class="row">
    <div class="col s0 m0 l2"></div>
    <div class="col s12 m12 l10">
        
        <div class="row valign-wrapper">
            <div class="col s10">

                <form  action="/Veterinario/Update/@Model.Id" method="post">
                        <h2 class="green-text text-lighten-3">Editar Veterinario</h2>
                        <br/>  

                        <div class="row valign-wrapper">
                            <div class="col s11 m10 l9">

                                <!-- Separar os campos em duas colunas-->   
                                <div class="row">
                                    <div class="col s12 m6">

                                        <!-- Campo Nome --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Nome</p>
                                                <input placeholder="Nome" asp-for="Nome"/>
                                                <span asp-validation-for="Nome"></span>
                                            </div>
                                        </div>  

                                        <!-- Campo CPF --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>CPF</p>
                                                <input placeholder="CPF" asp-for="Cpf"/>
                                                <span asp-validation-for="Cpf"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo Telefone --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Telefone</p>
                                                <input placeholder="Telefone" asp-for="Telefone"/>
                                                <span asp-validation-for="Telefone"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo Salario --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Salário</p>
                                                <input placeholder="Salário" asp-for="Salario"/>
                                                <span asp-validation-for="Salario"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo Crmv --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>CRMV</p>
                                                <input placeholder="CRMV" asp-for="Crmv"/>
                                                <span asp-validation-for="Crmv"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo Longadouro --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Logradouro</p>
                                                <input placeholder="Logradouro" asp-for="Longadouro"/>
                                                <span asp-validation-for="Longadouro"></span>
                                            </div>
                                        </div> 

                                         <div class="row">                           
                                            <div class="col s12">
                                                <p>Estado</p>
                                                <select asp-for="Estado" name="Estado" id="Estado">
                                                    <option value="">Selecione</option>
                                                    <option value="AC">Acre</option>
                                                    <option value="AL">Alagoas</option>
                                                    <option value="AP">Amapá</option>
                                                    <option value="AM">Amazonas</option>
                                                    <option value="BA">Bahia</option>
                                                    <option value="CE">Ceará</option>
                                                    <option value="DF">Distrito Federal</option>
                                                    <option value="ES">Espírito Santo</option>
                                                    <option value="GO">Goiás</option>
                                                    <option value="MA">Maranhão</option>
                                                    <option value="MT">Mato Grosso</option>
                                                    <option value="MS">Mato Grosso do Sul</option>
                                                    <option value="MG">Minas Gerais</option>
                                                    <option value="PA">Pará</option>
                                                    <option value="PB">Paraíba</option>
                                                    <option value="PR">Paraná</option>
                                                    <option value="PE">Pernambuco</option>
                                                    <option value="PI">Piauí</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                    <option value="RN">Rio Grande do Norte</option>
                                                    <option value="RS">Rio Grande do Sul</option>
                                                    <option value="RO">Rondônia</option>
                                                    <option value="RR">Roraima</option>
                                                    <option value="SC">Santa Catarina</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="SE">Sergipe</option>
                                                    <option value="TO">Tocantins</option>
                                                </select>
                                                <span asp-validation-for="Estado"></span>
                                            </div>
                                        </div> 

                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Senha</p>
                                                <input type="password" placeholder="Senha" asp-for="Senha"/>
                                                <span asp-validation-for="Senha"></span>
                                            </div>
                                        </div> 
                                     

                                    </div>

                                    <div class="col s12 m6">
                                        <!-- Campo Data de Nascimento --> 
                                        <div class="row">
                                            <div class="col s12">
                                                <p>Data de Nascimento</p>
                                                <input type="date" placeholder="Data de Nascimento" asp-for="DataNascimento"/>
                                                <span asp-validation-for="DataNascimento"></span>
                                            </div>
                                        </div>

                                        <!-- Campo RG --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>RG</p>
                                                <input placeholder="RG" asp-for="Rg"/>
                                                <span asp-validation-for="Rg"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo Especialidade --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Especialidade</p>
                                                <input placeholder="Especialidade" asp-for="Especialidade"/>
                                                <span asp-validation-for="Especialidade"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo Bairro --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Bairro</p>
                                                <input placeholder="Bairro" asp-for="Bairro"/>
                                                <span asp-validation-for="Bairro"></span>
                                            </div>
                                        </div> 

                                        <!-- Campo CEP --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>CEP</p>
                                                <input placeholder="CEP" asp-for="Cep"/>
                                                <span asp-validation-for="Cep"></span>
                                            </div>
                                        </div> 

                                         
                                        <!-- Campo Cidade --> 
                                        <div class="row">                           
                                            <div class="col s12">
                                                <p>Cidade</p>
                                                <input placeholder="Cidade" asp-for="Cidade"/>
                                                <span asp-validation-for="Cidade"></span>
                                            </div>
                                        </div>                                 
                                     
                                        <div class="row">                           
                                            <div class="col s12">
                                               <p>Email</p>
                                                <input placeholder="Email" asp-for="Email"/>
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>                                         

                                    </div>

                                    

                                    <!-- Botão -->
                                    <div class="col s7">
                                        <button class="btn waves-effect waves-light">Salvar</button>
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="col s0 m1 l2"></div>

                            
                        </div>

                </form>
            </div>

            <div class="col s1"></div>
        </div>
    </div>
</div>


    