@using SisCaVet.Models
@model Veterinario

@{
    ViewBag.Title = "Veterinario";
}
<html>
    <head>
      
      <meta charset="utf-8"/>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <title>SisCaVet</title>
      <meta name='viewport' content='width=device-width, initial-scale=1'>

      <!-- Icone -->
      <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon1/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon1/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon1/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon1/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon1/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon1/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon1/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon1/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon1/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="~/images/favicon1/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon1/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon1/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon1/favicon-16x16.png">
      <link rel="manifest" href="~/images/favicon1/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="~/images/favicon1/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">

      <script src='main.js'></script>

    </head>
    <body>

      @if(ViewBag.Mensagem != null)
      {
          <div class="red valign-wrapper">
            <i class="material-icons">warning </i>@ViewBag.Mensagem
          </div>
      }

  <form form asp-controller="Login" asp-action="Login" method="POST">
  <div class="row " style="height: 100%"> 

    <div class="col m9 green lighten-3 valign-wrapper" style="height: 100%; width: 80%">

      <div style="margin: 0 auto; width: 33%;">
        <img class="center-align" src="~/images/Login.png" width="450px" height="450px"/>
      </div>

    </div>

    <div class="col s12 m2" style="width: 20%; height: 100%">
      <br/>

      <div style="margin: 0 auto; width: 50%;">
          <img class="" src="~/images/LoginS.png" width="125px" height="84px"/>
      </div>

      <div class="row" style="margin: 0 auto; width: 80%;">
        <div class="input-field">
            <input placeholder="Email" type="email" name="Email" class="validate"/>
            <span asp-validation-for="Email" style="color:red"></span>
        </div>
      </div>

      <div class="row" style="margin: 0 auto; width: 80%;">
        <div class="input-field">
            <input placeholder="Senha" type="password" name="Senha" />
            <span asp-validation-for="Senha" style="color:red"></span>
        </div>
      </div>

      <div style="margin: 0 auto; width: 50%;">
        <button class="btn btn-primary">Entrar</button>
      </div>
        
  
          
          
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
    });
  </script>
</body>

